<h3>Please fill in the form.</h3>
<form method='post' action='/users'>
  <p>
    <label for="username">Username:</label>
    <input name="username" type="text" />
  </p>
  <p>
    <label for="email">Email:</label>
    <input name="email" type="email" />
  </p>
  <p>
    <label for="password">Password:</label>
    <input name="password" type="text" />
  </p>
  <p>
    <label for="address">Address:</label>
    <input name="address" type="text" />
  </p>
  <input type="submit" value="Submit" />
</form>