<form method='post' action='/session/login'>
  <p>
    <label for="username">Username:</label>
    <input name="username" type="text" />
  </p>
  <p>
    <label for="password">Password:</label>
    <input name="password" type="password" />
  </p>
  <input type="submit" value="Login" />
</form>